body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(36,1,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,71,0,1) 100%);
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(45deg, #FF0000, #FFA500);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.container-movies {
	display: flex;
	justify-content: center;
	border: 2px solid black;
	background: url('pictures/fondo.jpg') center/cover no-repeat fixed;

}
.container-movies > div {
  /*background-color: DodgerBlue;*/
  color: black;
  /*margin: 0px;*/
  text-align: center;
  /*line-height: 75px;*/
  font-size: 20px;
}

div picture img{
	border: 8px ridge #1D3BEB;
}

.title{
	display: flex;
	justify-content: center;
	/*background: url('pictures/fondo.jpg') center/cover no-repeat fixed;*/
}
.image{
	display: flex;
	align-items: center;
}
div iframe{
	border: 8px ridge #000000;
}
div table, tr, th, td{
	border: 3px solid black;
}

div table, th{
	background-color: blue;
}

#table{
	padding: 1%;
}

footer p{
	color: white;
}
